@import '../variables';

.page-content {
  padding-top: 160px;
  padding-bottom: 160px;
}

// =========================================
// Home page
// =========================================

#background{
  position: absolute;
  z-index: -1;
  width: 800px;
  height: auto;
  transform: translateY(-90%);
  top: 100px;
  right: 0;
}

#computer{
  position: relative;
  width: 500px;
  height: auto;
  transform: translateY(-95%);
}

#downloadIcon {
  width: 60px;
  height: auto;
}

#woman {
  transform: translateX(25%);
  width: 450px;
  height: auto;
}

#image-container {
  position: absolute;
  right: 0;
}

.image-container {
  @media screen and (max-width: $medium-screen) {
    display: none;
  }
}

.key-figures-container {
  background-color: $soft-blue;
}

.key-figures-container {
  background-color: $soft-blue;
  display: flex;
  align-items: center;
  height: 160px;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.key-figure-number {
  font-family: $secondary-font;
  font-size: $h2-font-size;
  line-height: 48px;
  color: $slate-gray;
}

.key-figure-text {
  font-family: $secondary-font;
  font-size: $h3-font-size;
  line-height: 48px;
  letter-spacing: 0.105em;
  color: $vivid-purple;
}

// =========================================
// Contact page
// =========================================

.form-control {
  margin-bottom: 40px;
  width: 100%;
  box-sizing: border-box;

}

#email .form-control {
  border: none;
  border-bottom: 2px solid #ccc;
  border-bottom-color: $dark-blue;
  border-radius: 0 0 0 0;
}

.form-control::placeholder {
  color: #aaa;
}

.submit-btn {
  background-color: #007bff; /* Couleur du fond du bouton */
  color: white; /* Couleur du texte du bouton */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #0056b3; /* Couleur du fond du bouton au survol */
}


// =========================================
// Header
// =========================================

#navbar {
  background-color: transparent;
  height: 100px;
}

.navbar-brand {
  color: $blue-gray;
  font-weight: 700;
  font-size: $h3-font-size;
}

.opaque-navbar {
  background-color: white !important;
  transition: background-color 0.3s ease-in-out;
}

@media (min-width: $large-screen) {
  #navbar .container-fluid {
    width: 1300px;
  }
}

// =========================================
// Footer
// =========================================

.footer {
  height: 216px;
  padding: 20px 0;
  background-color: $soft-blue;
  .footer-link {
    margin: 0 10px;
    color: $dark-blue;
    text-decoration: none;
  }
  hr {
    border-color: #ccc;
    margin-top: 10px;
  }
}

@media (min-width: $large-screen) {
  footer .container {
    width: 1300px;
  }
}