<nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top bg-transparent">
  <div class="container-fluid">

    <div class="navbar-nav me-auto ps-lg-5">
      <a class="nav-link" href="/">Accueil</a>
      <a class="nav-link" href="/about">À propos</a>
      <a class="nav-link" href="/contact">Contact</a>
    </div>

    <a class="navbar-brand mx-auto" href="/">LegiLink</a>

    <div class="ms-auto pe-lg-5">
      <button id="connexion" class="btn btn-primary" type="button">Connexion/Inscription</button>
    </div>

  </div>
</nav>
