.notification-icon {
  margin-right: 24px;
}

.user-email {
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.user-email img.ml-2 {
  width: 10px;
  height: 6px;
  margin-left: 8px;
}

.profile-arrow {
  width: 10px;
  height: 6px;
}
