.custom-nav-size {
  width: 292.29px;
  height: 976.94px;
}

/* Style général pour les liens de la barre latérale */
[data-te-sidenav-link-ref] {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  font-size: 0.875rem;
  color: #4A5568;
  transition: background-color 0.3s ease;
}

/* Style pour les icônes */
.icon-fixed-size {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

/* Couleur de fond pour l'élément actif de la barre latérale */
[data-te-sidenav-state-active='true'] {
  background-color: #2B6CB0; /* Couleur bleue pour l'élément actif */
  color: white;
}

/* Style au survol des éléments de la barre latérale */
[data-te-sidenav-link-ref]:hover {
  background-color: #E9F5FE; /* Couleur de fond au survol */
}

li.relative {
  margin-bottom: 8px;
}

/* Couleur de fond et de texte pour le bouton de déconnexion */
[data-te-sidenav-link-ref="logout"] {
  background-color: #667A8A;
  color: white;
}
