{% extends 'components/user/sidenav.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% if notificationsWithReadStatus|length == 0 %}
            <p class="message no-reservation">Vous n'avez aucune notification pour le moment.</p>
        {% else %}
            {% for item in notificationsWithReadStatus %}
                <p>
                    {{ item.notification.message|slice(0, 50) ~ '...' }}
                    le {{ item.notification.createdAt|date("d/m/Y à H:i:s") }}
                    {% if not item.isRead %}
                        <span class="inline-block whitespace-nowrap rounded-[0.27rem] bg-primary-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-primary-700 dark:bg-slate-900 dark:text-primary-500">Nouveau</span>
                    {% endif %}
                    <a href="{{ path('app_user_detail_notification', {'notification': item.notification.id}) }}">
                        Lire la suite >
                    </a>
                </p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
