{% extends 'layouts/user_base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
{#    {{ encore_entry_link_tags('dashboard_user') }}#}
{% endblock %}

{% block body %}
    {% include '/components/flashes.html.twig' %}

    {{ form_start(form) }}
    {{ form_row(form.file) }}
    <button type="submit">Upload</button>
    {{ form_end(form) }}

{% endblock %}
