{% extends 'layouts/guest_base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Hello {{ controller_name }}! ✅</h1>

    <button class="btn btn-primary">Test Bootstrap</button>

{% endblock %}
