{% extends '/base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}

  <div class="container page-content">
    <div class="row">
      <div class="col-md-12 col-lg-7 mx-lg-auto">

        <h2 class="text-lg-start mb-lg-5">À propos de LegiLink</h2>

        <h3>Notre Histoire</h3>
        <p>Tout a commencé avec une simple demande d'un étudiant en droit à la recherche d'une solution pour optimiser
          son temps de révision. Faisant face à la tâche répétitive et fastidieuse d'intégrer manuellement des liens
          vers des articles de loi dans ses fiches de révision .md. J'ai cherché une façon de simplifier ce
          processus. C'est là que l'idée de LegiLink a pris vie.</p>
        <p>En tant que développeur passionné, j'ai conçu un algorithme en PHP capable d'automatiser la reconnaissance
          d'articles de loi cités dans les fichiers Markdown et de les associer à des URLs menant directement aux textes
          officiels, tels que ceux proposés sur Legifrance. Ce qui a débuté comme un outil d'aide s'est
          rapidement transformé en une vision plus large : créer une application web qui rendrait ce service accessible
          à tous.</p>

        <h3 class="mt-lg-5">Notre Mission</h3>
        <p>Avec l'ambition de partager cette innovation, nous sommes des étudiants en MIAGE de l'université
          de Paris-Nanterre et de la Sorbonne. Nous avons uni nos compétences pour transformer cette idée en une application
          web accessible et conviviale. Notre objectif ? Permettre aux étudiants, professeurs, professionnels du droit,
          ou tout autre utilisateur de gagner du temps précieux, réduire les erreurs de citation et augmenter l'efficacité
          de leurs études et recherches juridiques.</p>

        <h3 class="mt-lg-5">Pourquoi LegiLink ?</h3>
        <p>Nous sommes dédiés à offrir une solution gratuite qui démocratise l'accès à l'information légale et facilite
          l'intégration de connaissances juridiques précises dans n'importe quel document Markdown.</p>

        <h3 class="mt-lg-5">Notre Engagement</h3>
        <p>Nous nous engageons à maintenir une plateforme à jour, sécurisée et facile à utiliser. Et
          dans le futur, prendre en charge plusieurs types de documents en plus du Markdown.</p>

      </div>
    </div>
  </div>

{% endblock %}

