{% extends '/user_base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% if pagination.items|length == 0 %}
            <p class="message no-reservation">Vous n'avez aucune notification pour le moment.</p>
        {% else %}
            {% for notificationUser in pagination %}
                {% set item = {
                    'notification': notificationUser.getNotification(),
                    'isRead': notificationUser.isRead()
                } %}
                <p>
                    {{ item.notification.message|slice(0, 25) ~ (item.notification.message|length > 25 ? '...' : '') }}
                    le {{ item.notification.createdAt|date("d/m/Y à H:i:s") }}
                    {% if not item.isRead %}
                        <span class="inline-block whitespace-nowrap rounded-[0.27rem] bg-primary-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-primary-700 dark:bg-slate-900 dark:text-primary-500">Nouveau</span>
                    {% endif %}
                    <a href="{{ path('app_user_detail_notification', {'notification': item.notification.id}) }}">
                        Lire la suite >
                    </a>
                </p>
            {% endfor %}
            {{ knp_pagination_render(pagination) }}
        {% endif %}
    </div>
{% endblock %}
